*{
  margin: 0;
  padding: 0;
}


.header-container{
  display: flex;
  flex-wrap: wrap;
}

.shopping-cart{
  justify-content: space-between;
  background-color: blue;
  padding: 20px 30px;
}

.product-container{
  display: flex;
  flex-wrap: wrap;
}

.card{
  height: 350px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 50px;
}

.add-btn{
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  height: 20px;
}

.cart-count{
  background-color: red;
  width: 5px;
  border-radius: 20px;
  color: black;
  cursor: pointer;

}

.site-heading{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: xx-large;
  cursor: pointer;
  color: antiquewhite;
  font-weight: 1000;
}

.cart-image{
  cursor: pointer;
}

.cart-container{
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 60%;
  margin-top: 50px;
  justify-content: space-between;
}

.amount-container{
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 60px;
  color: white;
}

.cart-card{
 margin: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 500px;
  height: 200px;
}

.cart-heading{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
  cursor: pointer;
  color: black;
  font-weight: 700;
  text-align: center;
}

.cart-quantity{
  display: flex;
  width: 100px;
  justify-content: space-between;
}

.quantity-btn{
  border: none;
  width: 20px;
  color: white;
  background-color: black;
  cursor: pointer;
  font-size: large
}

.amount-span{
  margin-top: 20px;
  margin-left: 15px;
}

.checkout-btn{
  border: none;
  background-color: blue;
  cursor: pointer;
  color: white;
  width: 80px;
}
